<!doctype html>
  <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
    <h3>View options</h3>
    <ul>
      <li>
        <label for="chkbox5" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" id="chkbox5" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Click per object</span>
        </label>
      </li>
      <li>
        <label for="chkbox6" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" id="chkbox6" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Views per object</span>
        </label>
      </li>
      <li>
        <label for="chkbox7" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" id="chkbox7" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Objects selected</span>
        </label>
      </li>
      <li>
        <label for="chkbox8" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" id="chkbox8" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Objects viewed</span>
        </label>
      </li>
    </ul>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons">location_on</i>
  </div>
